# Build files
build/

# Editor files
.vscode/
.idea/
.eclipse/
.settings/
.vs/
.xcodeproj/
.xcworkspace/
*~
.*.swp
#filename#
nano.save

# Python
*.pyc
__pycache__/
python/src/mdio_cpp/*.so
python/src/mdio_cpp/*.pyd
